@model MyStore_Core3.ViewModel.CreateProductViewModel
@using MyStore_Core3.DomainClasses

@{
    ViewData["Title"] = "افزودن کالا";
}
<h2 class="text-center">افزودن کالا جدید</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ProductGroupId" class="control-label"></label>
                <select asp-for="ProductGroupId" class="form-control" asp-items="ViewBag.ProductGroupId"></select>
                @* <input asp-for="ProductGroupSelectListItems" class="form-control" /> *@
                <span asp-validation-for="ProductGroupSelectListItems" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPrice" class="control-label"></label>
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImage" class="control-label"></label>
                <input type="file" name="imageUp" class="control-label" />
                <span asp-validation-for="ProductImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductStock" class="control-label"></label>
                <input asp-for="ProductStock" class="form-control" />
                <span asp-validation-for="ProductStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label"></label>
                <textarea asp-for="ProductDescription" class="form-control"></textarea>
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductStatus" class="control-label"></label>
                <select asp-for="ProductStatus" class="form-control" asp-items="Html.GetEnumSelectList<EnumProductStatusType>()"></select>
                <span asp-validation-for="ProductStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ثبت" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">بازگشت به لیست</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

