@page
@model LockoutModel
@{
    ViewData["Title"] = "مسدودیت اکانت";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">متاسفانه اکانت شما مسدود شده است ! لطفا بعدا امتحان کنید </p>
</header>
